<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="edu.berkeley.eecs.emission.cordova.unifiedlogger"
        version="0.0.1">

  <name>UnifiedLogger</name>
  <description>Log messages from both native code and javacript. Since this is
    a unified logger, we get updates from both native code and javascript,
    interleaved if necessary </description>
  <author>K. Shankari (shankari@eecs.berkeley.edu)</author>
  <license>Modified BSD license</license>

  <engines>
    <engine name="cordova" version=">=3.6.0"/>
  </engines>

  <asset src="www/unifiedlogger.js" target="js/unifiedlogger.js"/>

  <js-module src="www/unifiedlogger.js" name="unifiedlogger">
    <clobbers target="Logger" />
  </js-module>

  <dependency id="cordova-sqlite-storage"
             url="https://github.com/litehelpers/Cordova-sqlite-storage.git"/>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="UnifiedLogger">
        <param name="android-package" value="edu.berkeley.eecs.emission.cordova.unifiedlogger.UnifiedLogger"/>
      </feature>
    </config-file>

    <source-file src="src/android/UnifiedLogger.java" target-dir="src/edu/berkeley/eecs/emission/cordova/unifiedlogger"/>
    <source-file src="src/android/Log.java" target-dir="src/edu/berkeley/eecs/emission/cordova/unifiedlogger"/>
    <source-file src="src/android/DatabaseLogHandler.java" target-dir="src/edu/berkeley/eecs/emission/cordova/unifiedlogger"/>
    <source-file src="src/android/NotificationHelper.java" target-dir="src/edu/berkeley/eecs/emission/cordova/unifiedlogger"/>
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/*">
      <feature name="UnifiedLogger">
        <param name="ios-package" value="BEMUnifiedLogger" />
      </feature>
    </config-file>

    <header-file src="src/ios/BEMUnifiedLogger.h"/>
    <header-file src="src/ios/DBLogging.h"/>
    <header-file src="src/ios/LocalNotificationManager.h"/>
    <source-file src="src/ios/BEMUnifiedLogger.m"/>
    <source-file src="src/ios/DBLogging.m"/>
    <source-file src="src/ios/LocalNotificationManager.m"/>
    <resource-file src="src/ios/loggerDB"/>
  </platform>
</plugin>
