<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-em-unifiedlogger"
        version="1.3.3">

  <name>UnifiedLogger</name>
  <description>Log messages from both native code and javacript. Since this is
    a unified logger, we get updates from both native code and javascript,
    interleaved if necessary </description>
  <author>K. Shankari (shankari@eecs.berkeley.edu)</author>
  <license>Modified BSD license</license>

  <engines>
    <engine name="cordova" version=">=3.6.0"/>
    <engine name="cordova-android" version=">=7.0.0"/>
  </engines>

  <asset src="www/unifiedlogger.js" target="js/unifiedlogger.js"/>

  <js-module src="www/unifiedlogger.js" name="unifiedlogger">
    <clobbers target="Logger" />
  </js-module>

  <hook type="after_plugin_install" src="hooks/android/addResourcesClassImport.js" />

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="UnifiedLogger">
        <param name="android-package" value="edu.berkeley.eecs.emission.cordova.unifiedlogger.UnifiedLogger"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>

    <source-file src="src/android/UnifiedLogger.java" target-dir="src/edu/berkeley/eecs/emission/cordova/unifiedlogger"/>
    <source-file src="src/android/Log.java" target-dir="src/edu/berkeley/eecs/emission/cordova/unifiedlogger"/>
    <source-file src="src/android/DatabaseLogHandler.java" target-dir="src/edu/berkeley/eecs/emission/cordova/unifiedlogger"/>
    <source-file src="src/android/NotificationHelper.java" target-dir="src/edu/berkeley/eecs/emission/cordova/unifiedlogger"/>

    <!--  drawable res/android -->
    <resource-file src="res/android/drawable-hdpi/ic_visibility_black_24dp.png" target="res/drawable-hdpi/ic_visibility_black.png" />
    <resource-file src="res/android/drawable-mdpi/ic_visibility_black_24dp.png" target="res/drawable-mdpi/ic_visibility_black.png" />
    <resource-file src="res/android/drawable-xhdpi/ic_visibility_black_24dp.png" target="res/drawable-xhdpi/ic_visibility_black.png" />
    <resource-file src="res/android/drawable-xxhdpi/ic_visibility_black_24dp.png" target="res/drawable-xxhdpi/ic_visibility_black.png" />
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/*">
      <feature name="UnifiedLogger">
        <param name="ios-package" value="BEMUnifiedLogger" />
        <param name="onload" value="true"/>
      </feature>
    </config-file>

    <header-file src="src/ios/BEMUnifiedLogger.h"/>
    <header-file src="src/ios/DBLogging.h"/>
    <header-file src="src/ios/LocalNotificationManager.h"/>
    <source-file src="src/ios/BEMUnifiedLogger.m"/>
    <source-file src="src/ios/DBLogging.m"/>
    <source-file src="src/ios/LocalNotificationManager.m"/>
    <resource-file src="src/ios/loggerDB"/>
  </platform>
</plugin>
